In [1]:
import pandas as pd
import numpy as np

In [2]:
recommendations = pd.read_csv('recommendations-2021-12-31.csv')

The 'Bayes average' column of the recommendations dataset contains values of different formatting: some floats, some integers, clearly the correct format is a float with two decimal points. To clean this, we manually transformed the floats to integers since there were only few to then automatically transform them back to floats and round them to two decimal points:

In [3]:
recommendations['Bayes average'] = recommendations['Bayes average']/1000
recommendations['Bayes average'] = round(recommendations['Bayes average'], 2)

In [4]:
recommendations['Bayes average']

0      8.51
1      8.44
2      8.42
3      8.27
4      8.26
       ...
995    6.54
996    6.54
997    6.54
998    6.54
999    6.54
Name: Bayes average, Length: 1000, dtype: float64

There are a few columns that will likely not be needed for the analysis but contain a lot of data, so we dropped them to compress the dataset:

In [5]:
recommendations = recommendations.drop(columns=['URL', 'Thumbnail'])

There are also some columns that might have been used for the analysis but had a lot of data missing, namely the columns 'recommendation7' to 'recommendation28'. To clean this up you could either drop the rows that contain empty data or the columns. We decided to drop the columns since there are still the recommendations 1 to 6 and we wanted to keep the top-1000 dataset complete.

In [6]:
recommendations = recommendations.drop(columns=['recommendation7', 'recommendation8', 'recommendation9', 'recommendation10',
                                               'recommendation11', 'recommendation12', 'recommendation13', 'recommendation14',
                                               'recommendation15', 'recommendation16', 'recommendation17', 'recommendation18',
                                               'recommendation19', 'recommendation20', 'recommendation21', 'recommendation22',
                                               'recommendation23', 'recommendation24', 'recommendation25', 'recommendation26',
                                               'recommendation27', 'recommendation28'])

In [7]:
recommendations

,ID,Name,Year,Rank,Average,Bayes average,Users rated,recommendation1,recommendation2,recommendation3,recommendation4,recommendation5,recommendation6
0,174430,Gloomhaven,2017,1,8.74,8.51,47555,291457,295770,96848,255984,180263,162886
1,161936,Pandemic Legacy: Season 1,2015,2,8.60,8.44,44877,221107,314040,239188,224037,266507,198928
2,224517,Brass: Birmingham,2018,3,8.67,8.42,25216,220308,251247,167791,341169,125153,284378
3,167791,Terraforming Mars,2016,4,8.42,8.27,73742,341169,169786,316554,224517,183394,193738
4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.26,15911,246900,187645,205896,237182,283355,169786
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,27364,Caylus Magna Carta,2007,996,6.91,6.54,4881,66362,22345,27173,25554,8217,9216
996,327,Loopin' Louie,1992,997,6.76,6.54,8681,17329,145639,153938,150,165722,36648
997,124,Primordial Soup,1997,998,6.94,6.54,4591,19600,3307,18,2842,554,1159
998,37628,Haggis,2010,999,6.97,6.54,4051,156373,6688,251433,152,354,619
999,230933,Merlin,2017,1000,7.12,6.54,3136,193558,256570,245934,300327,137408,245638

In [8]:
recommendations.to_csv('recommendations-2021-12-31_clean.csv')

Next, we moved on to the bgg_gamesitems dataset.

In [9]:
bgg_gamesitems = pd.read_csv('bgg_Gameitems.csv')

Like in the recommendations dataset, the bgg_gamesitems datset had a lot of columns with issues. We dropped the following columns because they either had little to no data or were unclear in their significance to the analysis or were not needed for the analysis.

In [10]:
bgg_gamesitems = bgg_gamesitems.drop(columns=['bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id', 'wikipedia_id',
                                             'implementation', 'integration', 'cooperative', 'compilation', 'compilation_of', 
                                             'language_dependency', 'min_age_rec'])

Next, we cleaned up the NA-values from all the columns with numerical values that were needed or possibly relevant for the analysis. The data import into excel had somehow converted some of these numbers to floats so we typecast them back to integers where required.

In [11]:
bgg_gamesitems = bgg_gamesitems.dropna(subset=['rank', 'year', 'min_players', 'max_players', 'min_time', 'max_time',
                                               'min_players_best', 'max_players_best', 'min_age', 'num_votes', 'complexity'])
bgg_gamesitems['year'] = bgg_gamesitems['year'].astype(int)
bgg_gamesitems['rank'] = bgg_gamesitems['rank'].astype(int)
bgg_gamesitems['min_players'] = bgg_gamesitems['min_players'].astype(int)
bgg_gamesitems['max_players'] = bgg_gamesitems['max_players'].astype(int)
bgg_gamesitems['min_age'] = bgg_gamesitems['min_age'].astype(int)
bgg_gamesitems['min_players_rec'] = bgg_gamesitems['min_players_rec'].astype(int)
bgg_gamesitems['max_players_rec'] = bgg_gamesitems['max_players_rec'].astype(int)
bgg_gamesitems['min_players_best'] = bgg_gamesitems['min_players_best'].astype(int)
bgg_gamesitems['max_players_best'] = bgg_gamesitems['max_players_best'].astype(int)
bgg_gamesitems['min_time'] = bgg_gamesitems['min_time'].astype(int)
bgg_gamesitems['max_time'] = bgg_gamesitems['max_time'].astype(int)
bgg_gamesitems['num_votes'] = bgg_gamesitems['num_votes'].astype(int)

For the columns of type float we rounded all of the values to two decimal points for uniformity

In [12]:
bgg_gamesitems['avg_rating'] = round(bgg_gamesitems['avg_rating'], 2)
bgg_gamesitems['stddev_rating'] = round(bgg_gamesitems['stddev_rating'], 2)
bgg_gamesitems['bayes_rating'] = round(bgg_gamesitems['bayes_rating'], 2)
bgg_gamesitems['complexity'] = round(bgg_gamesitems['complexity'], 2)

There were still some missing values in the columns with string datatype, some of the missing values were already marked as (Unknown) or (Uncredited) so we replace missing values respectively.

In [13]:
bgg_gamesitems['game_type'] = bgg_gamesitems['game_type'].fillna('(Unknown)')
bgg_gamesitems['artist'] = bgg_gamesitems['artist'].fillna('(Uncredited)')
bgg_gamesitems['publisher'] = bgg_gamesitems['publisher'].fillna('(Unknown)')
bgg_gamesitems['category'] = bgg_gamesitems['category'].fillna('(Unknown)')
bgg_gamesitems['mechanic'] = bgg_gamesitems['mechanic'].fillna('(Unknown)')
bgg_gamesitems['family'] = bgg_gamesitems['family'].fillna('(Unknown)')

Lastly, since we were going to be selecting the top-x games later in the application, we already sorted the data items by their rank.

In [14]:
bgg_gamesitems = bgg_gamesitems.sort_values(by=['rank'])

In [15]:
bgg_gamesitems.to_csv('bgg_Gameitems_clean.csv')